<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zz.unittest">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.zz.unittest" >
    </instrumentation>

    <application
        android:name=".UnitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- <activity android:name=".dagger2.DaggerLoginActivity"> -->
        <!-- </activity> -->
        <activity android:name=".instrumentation.InstLoginActivity">
        </activity>

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>